body, html {
  margin: 0px;
  background-color: #ccc;
  height: 100%;
}

* {
  font-family: sans-serif;
}

div#container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

h1 {
  margin: 0px;
  font-size: 22px;
  user-select: none;
}

h2 {
  margin: 0px;
  font-size: 18px;
}

details {
  padding: 4px;
  user-select: none;
}

input, textarea {
  width: 98%;
}

button {
  margin: 4px;
}
