body, html {
  margin: 0px;
  background-color: #ccc;
  height: 100%;
}

* {
  font-family: sans-serif;
}

#columns {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

#rows {
  display: flex;
  flex-direction: column;
  height: 100%;
}

