:host {
  flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 16px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, .5);
  user-select: none;
}
h2 {
  margin: 4px 0px 0px 0px;
  font-size: 12px;
}
details {
  padding: 16px 0px;
}
.buttonbar {
  margin: 8px 0px;
}
  .buttonbar * {
    height: 24px;
    font-size: 13px;
    vertical-align: middle;
  }
